<div class="row">
  <div class="col-md-5">
  <h2>User List
    <a class="btn btn-info pull-right" [routerLink]="['new']">
      <span>Add a new user</span>
    </a>
  </h2>
  <hr>
  <label for="searchbox">Search a specific user?</label>
  <input 
  class="form-control searchBox" 
  type="text" id="searchbox" 
  placeholder="search by name, id, phone number, etc." 
  [(ngModel)]="search">
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Nume</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter:search:name" >
        <td><strong>{{ user.name }}</strong></td>
        <td>
          <a [routerLink]="['show/', user._id]" class="pull-right">Show Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>

